$background: rgb(15, 32, 73);
$color: rgb(59, 130, 256);
$colorWhite: rgb(255, 255, 255);
$buttonPrimary: blue;
$titleGray: rgb(211, 202, 202);
$lightBlue: rgb(0, 191, 255);
$buttonLinks: rgb(15, 40, 75);